@using MiTtify.Classi
@inject GestoreTema GestoreTema

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["MiTtify.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="photo_2025-05-20_21-08-45 senza sfondo.png" />
    <HeadOutlet />
</head>

<body data-bs-theme="@Tema">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="~/UtilitiesJavaScript.js"></script>
</body>

</html>

@code {
    string Tema = "";

    protected override async Task OnInitializedAsync()
    {
        Tema = await GestoreTema.PrendiTema();
    }
}