@page "/canzones/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using MiTtify.DataBase
@inject IWebHostEnvironment Env
@inject IDbContextFactory<MiTtify.Data.MiTtifyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Canzone</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Canzone" OnValidSubmit="AddCanzone" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Canzone.Nome" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Canzone.Nome" class="text-danger" /> 
            </div>  
            <div class="mb-3">
                <label for="autore" class="form-label">Autore:</label> 
                <InputText id="autore" @bind-Value="Canzone.Autore" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Canzone.Autore" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label class="form-label">FilePath:</label>
                <InputFile OnChange="OnFileSelected" accept=".mp3"></InputFile>
                <ValidationMessage For="() => Canzone.FilePath" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">ImagePath:</label>
                <InputFile OnChange="OnFileImageSelected" accept=".jpeg, .png"></InputFile>
                <ValidationMessage For="() => Canzone.ImagePath" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/canzones">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Canzone Canzone { get; set; } = new();
    private IBrowserFile? _file;
    private IBrowserFile? _imagefile;
    
    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        Console.WriteLine("onFileSelected richiamato");
         _file = e.File;
         Console.WriteLine($"File selezionato: {_file?.Name}");
    }
    
    private async Task OnFileImageSelected(InputFileChangeEventArgs e)
    {
        Console.WriteLine("onFileImageSelected richiamato");
        _imagefile = e.File;
        Console.WriteLine($"File selezionato: {_imagefile?.Name}");
    }
    
    private async Task AddCanzone()
    {
        Console.WriteLine("chiamataTask");
        if (_file == null)
        {
            Console.WriteLine("Errore");
            return;
        }
        if (_imagefile == null)
        {
            Console.WriteLine("Errore");
            return;
        }
        var uploadsFolder = Path.Combine(Env.WebRootPath, "audio");
        var uploadsFolderImage = Path.Combine(Env.WebRootPath, "image");
        Console.WriteLine("upload cartella: {uploadsFolder}");
        Console.WriteLine("upload cartella: {uploadsFolderImage}");
        Directory.CreateDirectory(uploadsFolder);
        Directory.CreateDirectory(uploadsFolder);

        var filePath = Path.Combine(uploadsFolder, _file.Name);
        var imagePath = Path.Combine(uploadsFolderImage, _imagefile.Name);
        Console.WriteLine($"salvataggio in {filePath}");
        Console.WriteLine($"salvataggio in {imagePath}");
        
        await using var fs = File.Create(filePath);
        await using var fs2 = File.Create(imagePath);
        await _file.OpenReadStream(20*1024*1024).CopyToAsync(fs); //Dimensione massima file dowloand
        Console.WriteLine("file salvato");
        

        Canzone.ImagePath = $"image/{_imagefile.Name}";
        Canzone.FilePath = $"audio/{_file.Name}";
        using var context = DbFactory.CreateDbContext();
        context.Canzone.Add(Canzone);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/canzones");
        Console.WriteLine("Canzone nel database");
    }
}
