@using MiTtify.DataBase
@using MiTtify.Components.Shared
@inject IJSRuntime JSRuntime

@if (Songs?.Any() == true)
{
    <select @onchange="OnSongSelected" class="form-select">
        <option value="">-- Seleziona una canzone --</option>
        @foreach (var song in Songs)
        {
            <option value="@song.FilePath">@song.Nome - @song.Autore</option>
        }
    </select>

    
    <div class="mt-4"style=@($"display:{(string.IsNullOrEmpty(SelectedSongPath)? "none":"block")}")>
        <audio id="riproduttoreAudio" controls>
            <source src="@SelectedSongPath" type="audio/mp3" />
            Il tuo browser non supporta il player audio.
        </audio>
    </div>
    
}

@code {
    [Parameter] public List<Canzone>? Songs { get; set; }

    private string? SelectedSongPath;

    private async Task OnSongSelected(ChangeEventArgs e)
    {
        SelectedSongPath = e.Value?.ToString();
        await JSRuntime.InvokeVoidAsync("audioPlayer.playAudio", SelectedSongPath);
    }
}