#titolo{
    font-size: 5rem;
    color: antiquewhite;
}

#contenitore-titolo{
    display: grid;
    grid-template-columns: auto auto 1fr;
    position: sticky;
    background-color: rgba(23, 30, 44, 0.28);
}

#immagineProfilo{
    justify-self: end;
}

.contenitore-canzoni{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.canzone{
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background-color: rgba(59, 72, 115, 0.28);
    margin-bottom: 15px;
    margin-right: 15px;
}

.canzone:hover{
    cursor: pointer;
}

.immagini-canzoni{
    border-radius: 15px;
}

.nome-canzoni{
    color: rgba(222, 248, 246, 0.65);
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.autore-canzoni{
    color: rgba(222, 248, 246, 0.65);
    margin-left: 10px;
}

@media (max-width: 5120px) {
    .contenitore-canzoni {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1920px) {
    .contenitore-canzoni {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1680px) {
    .contenitore-canzoni {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    .contenitore-canzoni {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .contenitore-canzoni {
        grid-template-columns: 1fr;
    }
}