@page "/"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using MiTtify.DataBase
@using MiTtify.Data
@inject IDbContextFactory<MiTtify.Data.MiTtifyContext> DbFactory

@attribute [Authorize]

<PageTitle>Home</PageTitle>
<p>Canzoni</p>
<div>
    @foreach (var canzone in Canzoni)
    {
        <div>
            <img src="@canzone.ImagePath" alt="Immagine per @canzone.Nome">
            <h2>@canzone.Nome</h2>
            <p>@canzone.Autore</p>
        </div>
    }
</div>
@code {
    private List<Canzone> Canzoni = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Canzoni = await context.Canzone.ToListAsync();
    }
}

