@page "/player"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using MiTtify.DataBase
@using MiTtify.Components.Shared
@inject IDbContextFactory<MiTtify.Data.MiTtifyContext> DbFactory


<h3> Scegli una canzone: </h3>

@if (Canzoni.Any())
{
    <AudioPlayer Songs="Canzoni" />
}
else
{
    <p>Non ci sono canzoni caricate.</p>
}

@code {
    private List<Canzone> Canzoni = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Canzoni = await context.Canzone.ToListAsync();
    }
}